{% extends 'proStageTemplate.html.twig' %}
{% block title %}Hello!{% endblock %}

{% block body %}
<h1>Voici la liste des stages proposé par :  {{entreprise.nom}}</h1>
<br>

<table class="table table-striped">
	<thead class="thead-dark" >
    	<tr>
   			<th scope="col">Intitule</th>
		</tr>
  	</thead>
  	<tbody>
  	{% for stage in stagesE %}
		<tr>	
 			<td><a href="{{path('stage',{'id':stage.id})}}"> Stage : {{stage.titre}}</td>
		</tr>
	{% endfor %}

	</tbody>
</table>

{% endblock %}
{% block footer %}{% endblock %}